@{
    ViewBag.Title = "AddNewImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model untitled_Project.productImage


<style>
    .addimage {
        background-color: black;
        opacity: 0.2;
        width: 100%;
        height: 100%;
    }

    #popup {
        position: fixed;
        margin: auto;
        background: rgba(0,0,0,0.5);
        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 200px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        color: #fff;
    }
</style>


<script>


    $(document).ready(function () {


        var img_id;

        $("#close_popup").click(function () {
            $("#popup").css("display", "none");
        });


        $('.addimage').click(function () {

            img_id = this.id;
            var productID = '@ViewBag.id';
            alert(@ViewBag.id);

            $("#popup").css("display", "block");
            $('#selectedImageId').attr('value', img_id);
            $('#productId').attr('value', productID);


        });



    });

</script>
<div id="imageContainer" style="margin-top:10%">
    <div id="mainImageContainer">

        <div id="imageList">
            <ul>

                @{
                    if( Model.mainImg != null )
                    {
                        @addImage( Model.mainImg, "mainImg" );
                    }
                    else
                    {

                        <li><div class="addimage" id="mainImg"> </div></li>
                    }

                    if( Model.ima1 != null )
                    {
                        @addImage( Model.ima1, "ima1" );
                    }
                    else
                    {

                        <li><div class="addimage" id="ima1"> </div></li>
                    }
                    if( Model.img2 != null )
                    {
                        @addImage( Model.img2, "ima2" );
                    }
                    else
                    {

                        <li><div class="addimage" id="img2"> </div></li>
                    }
                    if( Model.img3 != null )
                    {
                        @addImage( Model.img3, "ima3" );
                    }
                    else
                    {

                        <li><div class="addimage" id="img3"> </div></li>
                    }
                    if( Model.img4 != null )
                    {
                        @addImage( Model.img4, "ima4" );
                    }
                    else
                    {

                        <li><div class="addimage" id="img4"> </div></li>
                    }


                }
            </ul>
        </div>
    </div>





</div>


<div id="popup">

    <h1>Upload image here </h1>

    @using( Html.BeginForm( "AddNewImage", "Admin", new { }, FormMethod.Post, new { enctype = "multipart/form-data" } ) )
    {
        <input type="file" id="imageUpload" name="postedFile" />
        <input type="submit" class="btn-info" id="btnUpload" value="Upload" />
        <input type="hidden" vaule="" id="selectedImageId" name="imageId" />
        <input type="hidden" vaule="" id="productId" name="productId" />

        <button class="btn-danger" id="close_popup">Close</button>
    }



</div>

@helper addImage( byte[] src, string name )
{
    var base64 = Convert.ToBase64String( src );
    var imgSrc = String.Format( "data:image/gif;base64,{0}", base64 );

    <script>

        $("#imageList ul").append('<li id=@name class="@name"><img src=@imgSrc>  </li>');
    </script>
}


