@model untitled_Project.productDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>productDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.marketPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.marketPrice)
            @Html.ValidationMessageFor(model => model.marketPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.size)
            @Html.ValidationMessageFor(model => model.size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.color)
            @Html.ValidationMessageFor(model => model.color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stock)
            @Html.ValidationMessageFor(model => model.stock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.maintag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maintag)
            @Html.ValidationMessageFor(model => model.maintag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag1)
            @Html.ValidationMessageFor(model => model.tag1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag2)
            @Html.ValidationMessageFor(model => model.tag2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag3)
            @Html.ValidationMessageFor(model => model.tag3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag4)
            @Html.ValidationMessageFor(model => model.tag4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag5)
            @Html.ValidationMessageFor(model => model.tag5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag6)
            @Html.ValidationMessageFor(model => model.tag6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag7)
            @Html.ValidationMessageFor(model => model.tag7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.productDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.productDescription)
            @Html.ValidationMessageFor(model => model.productDescription)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
